In [1]:
from pandas import read_csv, merge
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
pd.set_option.max_columns = 999
pd.set_option.max_rows = 999

In [2]:
data_base_path = Path(r'../data/')
train_X_path = Path(data_base_path / 'training_set_features.csv')
train_y_path = Path(data_base_path / 'training_set_labels.csv')
test_X_path = Path(data_base_path / 'test_set_features.csv')

In [3]:
train_X = read_csv(train_X_path)
train_y = read_csv(train_y_path)
test_X = read_csv(test_X_path)

# Exploring training labels

In [5]:
pd.crosstab(
    train_y["h1n1_vaccine"], 
    train_y["seasonal_vaccine"], 
    # margins=True,
    normalize=False
)

seasonal_vaccine      0     1
h1n1_vaccine
0                 13295  7738
1                   977  4697

# EXPLORE TRAINING FEATURES

In [9]:
train_y.columns

Index(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine'], dtype='object')

In [10]:
train_X.columns

Index(['respondent_id', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [12]:
pd.crosstab(
    train_X['age_group'], 
    train_y["seasonal_vaccine"], 
    # margins=True,
    # normalize=True
)

seasonal_vaccine     0     1
age_group
18 - 34 Years     3731  1484
35 - 44 Years     2453  1395
45 - 54 Years     3136  2102
55 - 64 Years     2719  2844
65+ Years         2233  4610

In [13]:
pd.crosstab(
    train_X['age_group'], 
    train_y["h1n1_vaccine"], 
    # margins=True,
    # normalize=True
)

h1n1_vaccine      0     1
age_group
18 - 34 Years  4224   991
35 - 44 Years  3087   761
45 - 54 Years  4218  1020
55 - 64 Years  4212  1351
65+ Years      5292  1551

In [14]:
pd.crosstab(
    train_X['health_insurance'], 
    train_y["h1n1_vaccine"], 
    # margins=True,
    # normalize=True
)

h1n1_vaccine         0     1
health_insurance
0.0               1480   256
1.0               8663  4034

In [15]:
pd.crosstab(
    train_X['health_insurance'], 
    train_y["seasonal_vaccine"], 
    # margins=True,
    # normalize=True
)

seasonal_vaccine     0     1
health_insurance
0.0               1338   398
1.0               5866  6831

In [27]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 97 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   respondent_id                         26707 non-null  int64
 1   h1n1_concern                          26615 non-null  float64
 2   h1n1_knowledge                        26591 non-null  float64
 3   behavioral_antiviral_meds             26636 non-null  float64
 4   behavioral_avoidance                  26499 non-null  float64
 5   behavioral_face_mask                  26688 non-null  float64
 6   behavioral_wash_hands                 26665 non-null  float64
 7   behavioral_large_gatherings           26620 non-null  float64
 8   behavioral_outside_home               26625 non-null  float64
 9   behavioral_touch_face                 26579 non-null  float64
 10  doctor_recc_h1n1                      24547 non-null  float64
 11  doctor_recc_seasonal                  24547 non-null  float64
 12  chronic_med_condition                 25736 non-null  float64
 13  child_under_6_months                  25887 non-null  float64
 14  health_worker                         25903 non-null  float64
 15  health_insurance                      14433 non-null  float64
 16  opinion_h1n1_vacc_effective           26316 non-null  float64
 17  opinion_h1n1_risk                     26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc           26312 non-null  float64
 19  opinion_seas_vacc_effective           26245 non-null  float64
 20  opinion_seas_risk                     26193 non-null  float64
 21  opinion_seas_sick_from_vacc           26170 non-null  float64
 22  age_group                             26707 non-null  int64
 23  education                             25300 non-null  float64
 24  income_poverty                        22284 non-null  float64
 25  household_adults                      26458 non-null  float64
 26  household_children                    26458 non-null  float64
 27  hhs_geo_region_atmpeygn               26707 non-null  uint8
 28  hhs_geo_region_bhuqouqj               26707 non-null  uint8
 29  hhs_geo_region_dqpwygqj               26707 non-null  uint8
 30  hhs_geo_region_fpwskwrf               26707 non-null  uint8
 31  hhs_geo_region_kbazzjca               26707 non-null  uint8
 32  hhs_geo_region_lrircsnp               26707 non-null  uint8
 33  hhs_geo_region_lzgpxyit               26707 non-null  uint8
 34  hhs_geo_region_mlyzmhmf               26707 non-null  uint8
 35  hhs_geo_region_oxchjgsf               26707 non-null  uint8
 36  hhs_geo_region_qufhixun               26707 non-null  uint8
 37  census_msa_MSA, Not Principle  City   26707 non-null  uint8
 38  census_msa_MSA, Principle City        26707 non-null  uint8
 39  census_msa_Non-MSA                    26707 non-null  uint8
 40  employment_occupation_bxpfxfdn        26707 non-null  uint8
 41  employment_occupation_ccgxvspp        26707 non-null  uint8
 42  employment_occupation_cmhcxjea        26707 non-null  uint8
 43  employment_occupation_dcjcmpih        26707 non-null  uint8
 44  employment_occupation_dlvbwzss        26707 non-null  uint8
 45  employment_occupation_emcorrxb        26707 non-null  uint8
 46  employment_occupation_haliazsg        26707 non-null  uint8
 47  employment_occupation_hfxkjkmi        26707 non-null  uint8
 48  employment_occupation_hodpvpew        26707 non-null  uint8
 49  employment_occupation_kldqjyjy        26707 non-null  uint8
 50  employment_occupation_mxkfnird        26707 non-null  uint8
 51  employment_occupation_oijqvulv        26707 non-null  uint8
 52  employment_occupation_pvmttkik        26707 non-null  uint8
 53  employment_occupation_qxajmpny        26707 non-null  uint8
 54  employment_occupation_rcertsgn        26707 non-null  uint8
 55  employment_occupation_tfqavkke        26707 non-null  uint8
 56  employment_occupation_ukymxvdu        26707 non-null  uint8
 57  employment_occupation_uqqtjvyb        26707 non-null  uint8
 58  employment_occupation_vlluhbov        26707 non-null  uint8
 59  employment_occupation_xgwztkwe        26707 non-null  uint8
 60  employment_occupation_xqwwgdyp        26707 non-null  uint8
 61  employment_occupation_xtkaffoo        26707 non-null  uint8
 62  employment_occupation_xzmlyyjv        26707 non-null  uint8
 63  employment_industry_arjwrbjb          26707 non-null  uint8
 64  employment_industry_atmlpfrs          26707 non-null  uint8
 65  employment_industry_cfqqtusy          26707 non-null  uint8
 66  employment_industry_dotnnunm          26707 non-null  uint8
 67  employment_industry_fcxhlnwr          26707 non-null  uint8
 68  employment_industry_haxffmxo          26707 non-null  uint8
 69  employment_industry_ldnlellj          26707 non-null  uint8
 70  employment_industry_mcubkhph          26707 non-null  uint8
 71  employment_industry_mfikgejo          26707 non-null  uint8
 72  employment_industry_msuufmds          26707 non-null  uint8
 73  employment_industry_nduyfdeo          26707 non-null  uint8
 74  employment_industry_phxvnwax          26707 non-null  uint8
 75  employment_industry_pxcmvdjn          26707 non-null  uint8
 76  employment_industry_qnlwzans          26707 non-null  uint8
 77  employment_industry_rucpziij          26707 non-null  uint8
 78  employment_industry_saaquncn          26707 non-null  uint8
 79  employment_industry_vjjrobsf          26707 non-null  uint8
 80  employment_industry_wlfvacwt          26707 non-null  uint8
 81  employment_industry_wxleyezf          26707 non-null  uint8
 82  employment_industry_xicduogh          26707 non-null  uint8
 83  employment_industry_xqicxuve          26707 non-null  uint8
 84  employment_status_Employed            26707 non-null  uint8
 85  employment_status_Not in Labor Force  26707 non-null  uint8
 86  employment_status_Unemployed          26707 non-null  uint8
 87  rent_or_own_Own                       26707 non-null  uint8
 88  rent_or_own_Rent                      26707 non-null  uint8
 89  marital_status_Married                26707 non-null  uint8
 90  marital_status_Not Married            26707 non-null  uint8
 91  race_Black                            26707 non-null  uint8
 92  race_Hispanic                         26707 non-null  uint8
 93  race_Other or Multiple                26707 non-null  uint8
 94  race_White                            26707 non-null  uint8
 95  sex_Female                            26707 non-null  uint8
 96  sex_Male                              26707 non-null  uint8
dtypes: float64(25), int64(2), uint8(70)
memory usage: 7.3 MB